<template>
    <b-card>
        <form action="" @submit.prevent="submit">
            <b-input v-model="search" placeholder="Поиск" />
            <TagsFilterContainer
                :model-value="tagId"
                class="mt-3"
                @update:model-value="tagId = $event"
            />
            <b-button block type="submit" variant="outline-primary" class="mt-3">
                Найти
            </b-button>
        </form>
    </b-card>
</template>

<script>
import TagsFilterContainer from "@/containers/notes/TagsFilterContainer.vue";
import {useNotesStore} from "@/stores/notes";
import {mapActions, mapState} from "pinia";

export default {
    name: "NoteFiltersContainer",
    components: {TagsFilterContainer},
    methods: {
        ...mapActions(useNotesStore, ['setParameter', 'setParameters', 'load']),
        submit() {
            const params = {}
            Object.keys(this.params).forEach(key => {
                if (this.params[key]) {
                    params[key] = this.params[key];
                }
            })
            this.$router.push({query: params})
        },
        loadDataFromRoute(route) {
            this.setParameters(route.query);
            this.load();
        }
    },
    created() {
        this.loadDataFromRoute(this.$route);
    },
    watch: {
        '$route': function(route) {
            this.loadDataFromRoute(route);
        }
    },
    computed: {
        ...mapState(useNotesStore, ['params']),
        search: {
            get() {
                return this.params.search;
            },
            set(value) {
                this.setParameter('search', value);
            }
        },
        tagId: {
            get() {
                return this.params.tag_id || null;
            },
            set(value) {
                this.setParameter('tag_id', value);
            }
        }
    }
}
</script>

<style scoped>

</style>
