<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый комментарий</title>
</head>
<body>
    <p>Добрый день, {{ user_name }}!</p>

    <p>К вашей заметке <b><a href="{{ link }}">{{ note_title }}</a></b> оставлен комментарий:</p>
    <p>{{ comment_text }}</p>
</body>
</html>
