{% extends 'web/base.html' %}
{% load notes static %}

{% block title %}Список заметок{% endblock %}

{% block content %}
    <h2>Список заметок</h2>
    <p>
        Количество заметок: {{ count }}.
        Выводить
        {% filter_link "все заметки" "" query_params %} |
        {% filter_link "c напоминаниями" "with_alerts" query_params %}
    </p>

    <form action="https://google.com/search" method="get">
        <input type="text" name="q" placeholder="Поиск..." class="form-control">
        <button class="btn btn-primary">Найти в Google</button>
        (<a href="https://google.com" target="_blank">Google</a>)
    </form>

    <br>

    <form action="" method="get">
        <input type="text" name="search" placeholder="Поиск..."
               value="{{ search|default_if_none:'' }}"
               class="form-control"
        >

        <select name="tag_id" class="form-select">
            <option value="">Выберите тег</option>
            {% for tag in tags %}
                <option
                    value="{{ tag.id }}"
                    {% if tag_id == tag.id %}selected{% endif %}
                >
                    {{ tag.title }}
                </option>
            {% endfor %}
        </select>

        <button class="btn btn-primary">Найти</button>
    </form>

    <br>
    <a href="{% url 'notes_add' %}">Добавить заметку</a>

{#    <ul>#}
{#        {% for note in object_list %}#}
{#            <li>#}
{#                <b>#}
{#                    <a href="{% url "note" note.id %}">#}
{#                        {{ note.title }}#}
{#                    </a>#}
{#                </b>#}
{#                <small>#}
{#                    #{{ note.id }}.#}
{#                    {{ note.comments_count }} комментариев#}
{#                    ({{ note.last_comments.0.text }})#}
{#                    note.comments.all()[0].text #}
{##}
{#                    {{ note.user.email }}#}
{#                </small>#}
{#                {% if note.alert_send_at %}#}
{#                    – напомнить в {{ note.alert_send_at|date:"d.m.Y H:i" }}#}
{#                {% endif %}#}
{#                <small>{{ note.text|slice:":15" }}...</small>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <div id="app">
        <h1>Загрузка...</h1>
    </div>

    <link rel="stylesheet" href="{% static 'web/notes-frontend/dist/assets/MyButton.css' %}">
    <script type="module" src="{% static 'web/notes-frontend/dist/assets/MyButton.js' %}"></script>
    <script type="module" src="{% static 'web/notes-frontend/dist/assets/main.js' %}"></script>
{% endblock %}
