{% extends 'web/base.html' %}
{% block title %}Заметка {{ object.title }}{% endblock %}
{% block content %}
    {% if user.is_authorized %}
        <a href="{% url 'notes_list' %}">Назад</a>
        {% if object.is_shared %}
            <i>Заметка опубликована</i>
        {% else %}
            <a href="{% url 'note_share' object.title object.id %}">Поделиться заметкой</a>
        {% endif %}
        <a href="{% url 'note_edit' object.title object.id %}">Редактировать заметку</a>
        <a href="{% url 'note_delete' object.title object.id %}">Удалить заметку</a>
    {% endif %}
    <h1>{{ object.title }}</h1>

    <p>{{ object.text }}</p>

    {% if object.file %}
        <a href="{{ object.file.url }}">Скачать файл</a>
    {% endif %}
    
    {% if object.image %}
        <a href="{{ object.image.url }}" target="_blank">
            <img
                src="{{ object.image.thumbnail.url }}"
                alt="Картинка"
                style="border: 1px solid #ccc"
            >
        </a>
    {% endif %}
    <p>
        <small>
            Создана {{ object.created_at|date:'d.m.Y H:i' }}.
            Обновлена {{ object.updated_at|date:'d.m.Y H:i' }}.
        </small>
    </p>

    <b>Добавить комментарий</b>
    <form action="{% url 'note_comment' object.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button class="btn btn-outline-primary">Добавить комментарий</button>
    </form>
{% endblock %}
