{% extends 'web/base.html' %}
{% load static %}
{% load notes %}

{% block title %}Статистика{% endblock %}

{% block content %}
    <h1>Статистика по заметкам</h1>
    <ul>
        <li>Всего <b>{{ count }}</b> заметок</li>
        <li><b>{{ count_with_alerts }}</b> заметок с напоминаниями</li>
        <li><b>{{ last_created_at }}</b> создана последняя заметка</li>
        <li><b>{{ first_created_at }}</b> создана первая заметка</li>
        <li><b>{{ last_updated_at }}</b> обновлена последняя заметка</li>
    </ul>

    <div id="app"></div>

    <script>
    window.COUNT = "{{ count }}";
    </script>
    {{ test_data | json_script:'test_data' }}
    <link rel="stylesheet" href="{% static 'web/notes-frontend/dist/assets/MyButton.css' %}">
    <script type="module" src="{% static 'web/notes-frontend/dist/assets/MyButton.js' %}"></script>
    <script type="module" src="{% static 'web/notes-frontend/dist/assets/stat.js' %}"></script>
{% endblock %}
