<template>
  <h1>stat</h1>
  <b>{{count}}</b>
  <p>{{testData.a}}</p>
  <MyButton />
</template>
<script setup>
import MyButton from "@/components/MyButton.vue";
</script>
<script>
export default {
  data() {
    return {
      count: window.COUNT,
      testData: JSON.parse(document.getElementById('test_data').textContent)
    }
  }
}
</script>
